<%= render 'devise/shared/flash_messages' %>
<B>これまでトータルで<%= @total_hour.round(1) %> 時間 の勉強したよ！</B>

<div class="container pt-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card p-1">
        <%= attachment_image_tag(@user, :image, :fill, 300, 300, fallback: "sample.jpg") %>
      <div class="card-body">
        <h5 class="card-title">自己紹介</h5>
        <p class="card-text"><%= simple_format(h(@user.introduction)) %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ニックネーム: <%= @user.name %></li>
        <li class="list-group-item">職業: <%= @user.occupation %></li>
        <li class="list-group-item">タグ: <%= render 'users/tag_list', tag_list: @user.tag_list %></li>
      </ul>
      <div class="card-body">
        <% if @user.id == current_user.id %>
          <%= link_to("プロフィールを変更する", "/users/#{@user.id}/edit", { class: "btn btn-warning btn-block mb-4"}) %>
        <% end %>
      </div>
      <div class="card-body">
        タグ<br> <%= render 'users/tag_list', tag_list: @user.tag_list %>
      </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="container mb-5">
        <div class="row">
          <span class="figure-sum-text col-sm">
            <div><B>合計：<em class="figure-sum"><%= sum_times.round(1) %></em> 時間</B></div>
            <B>（<em class="figure-sum"><%= to_hour %></em> 分）</B>
          </span>
          <div class="dropdown col-sm">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @user.posts_period(@period).keys.first %> - <%= @user.posts_period(@period).keys.last %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "週間", user_path(@user, period: "week"), class: "dropdown-item" %>
              <%= link_to "月間", user_path(@user, period: "month"), class: "dropdown-item" %>
              <%= link_to "年間", user_path(@user, period: "year"), class: "dropdown-item" %>
            </div>
          </div>
        </div>
      </div>
      <%= column_chart @chart,colors: ['#b00'],xtitle: "日付", ytitle: "時間"%>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
  <div class="col-sm-12">
      <% @posts.each do |post| %>
  <div class="card mb-3 border-secondary">
    <div class="card-header border-secondary">
      <%= link_to(post.user) do %>
      <%= attachment_image_tag post.user, :image, :fill, 60, 60, class: "rounded-circle", fallback: "sample.jpg", size:'50x50'%>
      <% end %>
      <%= link_to post.user.name, post.user %>
      <div class="float-right">
      <% if post.created_at == post.updated_at %>
        投稿日:<%= post.created_at.strftime('%Y/%m/%d') %>
      <% else %>
        更新日:<%= post.updated_at.strftime('%Y/%m/%d') %>
      <% end %>
      <font color="#808080">
      <% if post.created_at == post.updated_at %>
        <%= time_ago_in_words(post.created_at) %>前
      <% else %>
        <%= time_ago_in_words(post.updated_at) %>前
      <% end %>
      </font>
      </div>
      </div>
    <div class="row no-gutters">
      <div class="col-sm-4 p-1">
        <%= attachment_image_tag post, :image, :fill, 300, 300, class: "card-img", fallback: "sample.jpg"%>
      </div>
      <div class="card-body">
        <div class="col-sm-8">
          <h5 class="card-title"><%= render 'posts/tag_list', tag_list: post.tag_list %></h5>
          <p class="card-text"><%= post.body %></p>
        </div>
      </div>
    </div>
      <div class="card-footer text-muted border-secondary">
        <div class="d-flex">
        <div class="p-2">
        <div id="favorites_buttons_<%= post.id %>">
          <%= render partial: 'favorites/like', locals: { post: post} %>
        </div>
        </div>
        <div class="p-2">
        <i class="fas fa-comment-dots faa-float animated" style="color: #FFD700;"></i>
        <%= post.comments.count %>
        </div>
        <% if @user.id == current_user.id %>
        <%= link_to '投稿を削除する', post, method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <%= link_to '編集する', edit_post_path(post), class: 'ml-auto p-2 btn btn-info' %>
        <% end %>
        </div>
        <div class="float-right">
        <i class="fas fa-book-reader faa-tada animated" style="color: #000066;"></i>
        <%= total_hour(post.hour,post.minutes) %>
        </div>
      </div>
  </div>
<% end %>
  </div>
</div>
</div>


<p>これまでトータルで<%= @total_hour.round(1) %> 時間 の勉強したよ！</p>

  <div class="form-group">
  	<% if @user.id == current_user.id %>
      <%= link_to("プロフィールを変更する", "/users/#{@user.id}/edit", { class: "btn btn-warning btn-block mb-4"}) %>
    <% end %>
  </div>