<div class="container-login">
<%= form_with(model: post, local: true) do |f| %>

  <div class="form-group"　id="post_image">
    <%= f.label :tag_list, 'タグをカンマ区切りで入力' %>
    <%= f.text_field :tag_list, value: @post.tag_list.join(','), "data-role" => "tagsinput", class: "form-control" %>
  </div>


  <div class="form-group">
    <span class="badge badge-danger">必須</span>
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", style: "height: 150px;",required: true %>
  </div>

  <div class="form-group mb-4">
    <span class="badge badge-danger">必須</span>
      <%= f.label :hour %>
      <%= f.number_field :hour, class: "form-control", min: 0, max: 23, placeholder: "整数で入力",required: true %>
    <div class="mt-3">
    <span class="badge badge-danger">必須</span>
      <%= f.label :minutes %>
      <%= f.number_field :minutes, class: "form-control", min: 0, max: 59, placeholder: "整数で入力",required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <%= attachment_image_tag post, :image, class: "img-fluid rounded img-thumbnail", fallback: "sample.jpg", size: "200x200" %>
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class="form-group">
    <% if post.post_video.present? %>
      <iframe class="col-sm-12" height="350" src="https://www.youtube.com/embed/<%= @post.post_video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
    <%= f.label :post_video, "YouTubeのURLのみ対応してます" %>
    <%= f.text_field :post_video, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :class=>"btn btn-outline-light btn-dark btn-block" %>
  </div>
<% end %>
</div>

<script>
$(function(){
    // inputのidから情報の取得
    $('#post_image').on('change', function (e) {
// ここから既存の画像のurlの取得
    var reader = new FileReader();
    reader.onload = function (e) {
        $(".image").attr('src', e.target.result);
    }
// ここまで
    reader.readAsDataURL(e.target.files[0]); //取得したurlにアップロード画像のurlを挿入
});
});

</script>
