<div class="container mt-5">
  <div class="row">
  <div class="col-sm-6">
<%= form_with(model: post, local: true) do |f| %>

  <div class="form-group"　id="post_image">
    <%= f.label :tag_list, 'タグをカンマ区切りで入力' %>
    <%= f.text_field :tag_list, value: @post.tag_list.join(','), "data-role" => "tagsinput", class: "form-control" %>
  </div>


  <div class="form-group">
    <span class="badge badge-danger">必須</span>
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", style: "height: 200px;",required: true %>
  </div>

  <div class="form-group mb-4">
    <span class="badge badge-danger">必須</span>
      <%= f.label :hour %>
      <%= f.number_field :hour, class: "form-control", min: 0, max: 23, placeholder: "整数で入力",required: true %>
    <div class="mt-3">
    <span class="badge badge-danger">必須</span>
      <%= f.label :minutes %>
      <%= f.number_field :minutes, class: "form-control", min: 0, max: 59, placeholder: "整数で入力",required: true %>
    </div>
  </div>

  <div class="actions mt-5">
    <%= f.submit :class=>"btn btn-outline-light btn-dark btn-block" %>
  </div>
  </div>

<div class="col-sm-6">
  <div class="form-group">
    <div class="d-flex flex-column align-items-center">
      <p>参考書等の画像をアップロードする</p>
      <%= attachment_image_tag post, :image, class: "img-fluid rounded img-thumbnail", fallback: "sample.jpg", size: "200x200" %>
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class="form-group">
    <% if post.post_video.present? %>
      <iframe class="col-sm-12" height="350" src="https://www.youtube.com/embed/<%= @post.post_video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
    <%= f.label :post_video, "YouTubeのURLのみ対応してます" %>
    <%= f.text_field :post_video, class: "form-control" %>
  </div>

<% end %>

  <p>読み取った内容がボックスに表示されます</p>
  <textarea class="form-control mb-5" id="result" style="height: 200px;" placeholder="勉強した内容を読み込みたい時はフォームから画像を選択して下さい。文字を自動認識してここに表示します。手書きでも大丈夫です" disabled></textarea>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" id="ocr_image" class="custom-file-input" accept="image/jpeg, image/png">
        <label class="custom-file-label" for="ocr_image" data-browse="参照">読み込み...(ここにドロップもできます)</label>
      </div>
      <div class="input-group-append mb-3">
        <button type="button" class="btn btn-outline-secondary input-group-text" id="inputFileReset">取消</button>
        <button class="btn btn-outline-secondary input-group-text" id="ocr">読み込む</button>
      </div>
    </div>
</div>
  </div>
</div>

<script>
$(function(){
    $('#post_image').on('change', function (e) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $(".image").attr('src', e.target.result);
      }
      reader.readAsDataURL(e.target.files[0]);
    });
    //画像をBase64に変換しAjaxでOCR専用のAPIを呼ぶ
    $('#ocr').on('click', function() {
      var filecheck = $('#ocr_image').val().length;
      if(!filecheck) {
        console.log(false);
        return
      }
      // ocr_imageで選択したfileをbase64に変換する
      var file = $('#ocr_image').prop('files')[0];
      var reader = new FileReader();
      reader.readAsBinaryString(file);
      reader.onload = function() {
        // OCR専用のAPIをAjaxで呼ぶ
        $.ajax({
            url: '/conversions',
            type:'POST',
            dataType: 'json',
            data : {
              base64_image: btoa(reader.result)
            },
            timeout:3000,
        }).done(function(data) {
            $('#result').val(data.result);
        }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest, textStatus, errorThrown)
        });
      };
      reader.onerror = function() {
        console.log('there are some problems');
      };


    });
});
</script>
