<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div class="jumbotron jumbotron-fluid img-responsive pt-0" >
  <%= video_tag "/assets/videos/production ID_4763210.mp4", autoplay: true, loop: true, muted: true, class: 'video-content' %>
  <div class="container video-bar">
    <div class="col-lg-9 ml-auto bg-rgba p-4 rounded">
      <h1 class="display-4 font-weight-bold mb-4">Share Study</h1>
      <h2 class="lead font-weight-bold">勉強した時間は全てが宝物です。その知識、その時間共有しませんか？</h2>
  </div>
</div>
</div>
<div class="container swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag 'gahag-0119446360.jpg', class: 'top_image'%></div>
      <div class="swiper-slide"><%= image_tag 'gahag-0093274470.jpg', class: 'top_image'%></div>
      <div class="swiper-slide"><%= image_tag 'gahag-0055973670.jpg', class: 'top_image'%></div>
      <div class="swiper-slide"><%= image_tag 'gahag-0063716434.jpg', class: 'top_image'%></div>
      <div class="swiper-slide"><%= image_tag 'gahag-0056407220.jpg', class: 'top_image'%></div>
    </div>
</div>
<main>
  <section id="sec1" class="py-5 container">
    <h2 class="font-weight-bold text-center ttl-bdr">このサイトについて</h2>
    <div class="tab-content">
      <div id="tab1" class="tab-pane active">
          <div class="row">
              <div class="col-lg-6 mb-3">
                  <div class="row">
                      <%= image_tag 'gahag-0119270185.jpg', class: 'col-sm-6 h-100 mb-3 mb-md-0'%>
                      <div class="col-sm-6">
                          <h4 class="mt-0">1.勉強とは？</h4>
                          <p>広辞苑によると「学問や知識・技術などを身につけるために学ぶこと」と記載されています。しかしその過程は大半の人にとって辛く困難な道のりです。</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div class="row"> <%= image_tag 'cheers-839865_1920.jpg', class: 'col-sm-6 h-100 mb-3 mb-md-0'%>
                    <div class="col-sm-6">
                      <h4 class="mt-0">2.なぜ勉強するのか？</h4>
                      <p>それではなぜそんな辛い思いをして勉強するのか？それは幸せのためです。勉強を続けることによりその先に幸せがあるからです。</p>
                    </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-3">
              <div class="row"> <%= image_tag 'gahag-0007080899.jpg', class: 'col-sm-6 h-100 mb-3 mb-md-0'%>
                <div class="col-sm-6">
                  <h4 class="mt-0">3.勉強を続けるには？</h4>
                  <p>目標を持つことも重要ですが勉強をする仲間と繋がり共有することも大切です。1人では辛いことも協力して乗り越えることが出来ます。</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <div class="row"> <%= image_tag 'adventure-1807524_1920.jpg', class: 'col-sm-6 h-100 mb-3 mb-md-0'%>
                <div class="col-sm-6">
                  <h3 class="mt-0">4.そのためには？</h3>
                  <p>このサイトで情報を共有しお互い助け合いながらそれぞれの目標に向かって、勉強を継続していくツールとしてご活用いただけましたら幸いです。</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
    <hr>
    <section id="sec2" class="py-5 container">
        <h2 class="font-weight-bold text-center ttl-bdr">このサイトの使い方</h2>
        <div class="row py-4">
            <div class="col-lg-7 text-center mb-4">
                <h3 class="h1 font-weight-bold">1.登録しよう!!</h3>
                <p class="lead mt-5" style="line-height: 2.0;">本サイトは会員登録をしない場合は<br>閲覧のみが可能です。<br>自ら情報を発信したり他の人とやり取りするなど<br>機能を全て使う場合は会員登録をお願いします。<br>登録にはSNS認証も使えますので是非ご利用ください。</p>
            </div>
            <div class="col-lg-5"> <%= image_tag 'subscribe-3534409_1920.jpg', class: 'card-img-top rounded-0'%></div>
        </div>
        <hr>
        <div class="row py-4 ml-1">
            <div class="col-lg-7 text-center order-md-2 mb-4">
                <h3 class="h1 font-weight-bold">2.投稿しよう!!</h3>
                <p class="lead mt-5" style="line-height: 2.0;">会員登録後はヘッダーから新規投稿を行いましょう。<br>内容は勉強したことや共有したいこと<br>分からなかったことなどを書いて<br>みんなと交流することをお勧めします。<br>また他の人の投稿にいいねやコメントを残して<br>他の人と繋がりを作りましょう!</p>
            </div>
            <div class="col-lg-5 order-md-1"> <%= image_tag 'post-its-1875512_1920.jpg', class: 'card-img-top rounded-0'%> </div>
        </div>
        <hr>
        <div class="row py-4">
            <div class="col-lg-7 text-center mb-4">
                <h3 class="h1 font-weight-bold">3.投稿を見よう!!</h3>
                <p class="lead mt-5" style="line-height: 2.0;">見るという事は大切で他の人の投稿を見れば<br>知識を得るだけでなく違う考え方も学ぶことができます。<br>マイページを見て過去の投稿を振り返り復習できます。<br>グラフを見ると今までの頑張りを見ることができ<br>今後の計画にも活用することが出来ます。<br>また毎月更新される勉強時間のランキングで<br>上位を目指しモチベーションを保つことが出来ます。<br>このように投稿することだけが重要ではなく<br>投稿が苦手な人でも見るだけで自分の成長に繋がります。</p>
            </div>
            <div class="col-lg-5"> <%= image_tag 'gahag-0005407561.jpg', class: 'card-img-top rounded-0'%> </div>
        </div>
    </section>
</main>
<script>
var sliderSelector = '.swiper-container',
    isMove = false,
    options = {
      init: false,
      loop: true,
      speed:1000,
      autoplay:{
        delay:3000
      },
      effect: 'cube', // 'cube', 'fade', 'coverflow',
      cubeEffect: {
        shadow: true,
        slideShadows: true,
        shadowOffset: 40,
        shadowScale: 0.94,
      },
      grabCursor: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      breakpoints: {
        767: {
          slidesPerView: 1,
          spaceBetween: 0
        }
      },
      // Events
      on: {
        init: function(){
          this.autoplay.stop();
        },
        imagesReady: function(){
          this.el.classList.remove('loading');
          this.autoplay.start();
        },
        touchMove: function(event){
          if (!isMove) {
            this.el.classList.remove('scale-in');
            this.el.classList.add('scale-out');
            isMove = true;
          }
        },
        touchEnd: function(event){
          this.el.classList.remove('scale-out');
          this.el.classList.add('scale-in');
          setTimeout(function(){
            isMove = false;
          }, 300);
        },
        slideChangeTransitionStart: function(){
          console.log('slideChangeTransitionStart '+this.activeIndex);
          if (!isMove) {
            this.el.classList.remove('scale-in');
            this.el.classList.add('scale-out');
          }
        },
        slideChangeTransitionEnd: function(){
          console.log('slideChangeTransitionEnd '+this.activeIndex);
          if (!isMove) {
            this.el.classList.remove('scale-out');
            this.el.classList.add('scale-in');
          }
        },
        transitionStart: function(){
          console.log('transitionStart '+this.activeIndex);
        },
        transitionEnd: function(){
          console.log('transitionEnd '+this.activeIndex);
        },
        slideChange:function(){
          console.log('slideChange '+this.activeIndex);
          console.log(this);
        }
      }
    },
    mySwiper = new Swiper(sliderSelector, options);

// Initialize slider
mySwiper.init();
Resources
</script>