<%= render 'devise/shared/flash_messages' %>

  <%= search_form_for @search do |f| %>
    <div class="form-group row">
      <%= f.label :bosy_cont, "本文検索", class: "col-sm-3 col-form-label text-right" %>
      <div class="col-sm-6">
      <%= f.search_field :body_cont, class: 'form-control' %>
      </div>
      <div class="col-sm-2">
      <%= f.submit "検索", class: 'btn btn-success btn-block' %>
      </div>
    </div>
  <% end %>


<%= link_to 'New Post', new_post_path %>


<% @posts.each do |post| %>
  <div class="card mb-3 border-secondary" style="max-width: 540px;">
    <div class="card-header border-primary">
      <%= link_to(post.user) do %>
      <%= attachment_image_tag post.user, :image, :fill, 60, 60, class: "rounded-circle", fallback: "sample.jpg", size:'50x50'%>
      <% end %>
      <%= link_to post.user.name, post.user %>
      <div class="float-right">
      <%= post.created_at.strftime('%Y/%m/%d') %>
      <font color="#808080">
      <%= time_ago_in_words(post.created_at) %>前
      </font>
      </div>
      </div>
    <div class="row no-gutters">
      <div class="col-sm-4">
        <%= attachment_image_tag post, :image, :fill, 300, 300, class: "card-img", fallback: "sample.jpg"%>
      </div>
      <div class="card-body">
        <div class="col-sm-8">
          <h5 class="card-title"><%= render 'posts/tag_list', tag_list: post.tag_list %></h5>
          <p class="card-text"><%= post.body %></p>
        </div>
      </div>
    </div>
      <div class="card-footer text-muted border-primary">
        <%= link_to 'Show', post, class: 'btn btn-info' %>
        <div class="text-right">
        <%= total_hour(post.hour,post.minutes) %>
        </div>
      </div>
  </div>
<% end %>



<%# @users.each do |user| %>
  <%#= user.name %>
  <%#= user.posts.where(:created_at=> Time.current.beginning_of_month..Time.current.end_of_month).pluck(:hour).sum + user.posts.where(:created_at=> Time.current.beginning_of_month..Time.current.end_of_month).pluck(:minutes).sum / 60 %>
<%# end %>

<% @ranking_users.each.with_index(1) do |user, i| %>
    第
    <%= i %>
    位
  <%= user.name %>
  <%= user.posts.where(:created_at=> Time.current.beginning_of_month..Time.current.end_of_month).pluck(:hour).sum + user.posts.where(:created_at=> Time.current.beginning_of_month..Time.current.end_of_month).pluck(:minutes).sum / 60 %>
<% end %>



