<!DOCTYPE html>
<html>
  <head>
    <title>Share Study</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css">
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

<body>
  <nav class="navbar navbar-expand-xl navbar-dark rounded-bottom" style="background-color: #FF6699;">
    <% if user_signed_in? %>
      <I><%= link_to "Share Study", root_path, class: 'navbar-brand' %></I>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navber">
        <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-item active nav-link fas fa-house-user' %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-item active nav-link fas fa-sign-out-alt' %>
        <%= link_to '新規投稿', new_post_path, class: 'nav-item active nav-link fas fa-pencil-alt' %>
        <%= link_to 'about', about_path, class: 'nav-item active nav-link fas fa-chess-rook' %>
      <span class="nav-item active nav-link ml-auto">
        ようこそ <%= current_user.name %>さん!
      </span>
        <div class="form-group mb-2">
          <%= form_with(url:search_path, method: :get, class: "nav-item form-control-plaintext form-inline ml-auto", data: {remote: false}) do %>
            <div class="col-sm-4 form-group mr-4">
              <%= select_tag 'range' ,options_for_select([['--選択してください--', ''], ['ユーザー名', '1'], ['タグ', '2'],['投稿本文', '3']]), { autofocus: 'true', class: 'form-control'} %>
            </div>
            <div class="col-sm-4 form-group mr-4">
              <%= text_field_tag (:word),"", {class: "form-control"} %>
            </div>
            <div class="col-sm-1 form-group">
              <%= submit_tag "検索", class: 'btn btn-outline-light' %>
            </div>
        </div>
    <% end %>
      </div>
      <% else %>
    <I><%= link_to "Share Study", root_path, class: 'navbar-brand' %></I>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="Navber">
      <%= link_to 'about', about_path, class: 'nav-item active nav-link fas fa-chess-rook' %>
    </div>
    <% end %>
  </nav>
<%= yield %>
</body>
<footer>
  <div class="text-center">
    <h6>2020© Share Study All Rights Reserved </h6>
  </div>
</footer>
</html>